@font-face {
    font-family: 'non_odd_regular';
    src: url('https://raw.githubusercontent.com/jasmintrickey/non_odd_font/blob/00f1c14632f30bed1c23d807b58bab1124e78814/non_odd-regular-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'non_odd_bold';
    src: url('https://raw.githubusercontent.com/jasmintrickey/non_odd_font/blob/00f1c14632f30bed1c23d807b58bab1124e78814/non_odd-bold-webfont.woff') format('woff'),
    font-weight: bold;
    font-style: normal;

}
